# Caminho do arquivo .jks (relativo à pasta rm-supervisor-android ou absoluto)
storeFile=keystore/upload-keystore.jks
storePassword=SUA_SENHA_DO_KEYSTORE
keyAlias=upload
keyPassword=SUA_SENHA_DA_CHAVE
