flask==3.0.3
flask-sqlalchemy==3.1.1
reportlab==4.2.2
gunicorn==22.0.0
gevent==24.11.1
flask-limiter==3.9.0
flask-compress==1.17
flask-caching==2.3.1
Pillow==11.2.1
pypdf==4.3.1
openpyxl==3.1.5
pyHanko==0.26.0
pandas==2.2.0
xlsxwriter==3.1.9
firebase-admin==6.6.0
sentry-sdk[flask]==2.19.2
structlog==24.4.0
pydantic>=2.0,<3
